/* .swiper-wrapper{
    border-start-end-radius: 30px !important;
} */

/* .swiper-wrapper{
    background-color: transparent !important;
} */

.swiper {
    background-color: transparent !important;
}

